body {
    margin: 0;
    background-color: #3C84DE;
    font-family:   'Gill Sans MT';
    color: white;
}
.header {
    display: flex;
    background-color: white;
}
.container {
    width: 80%;
    margin: auto;
    display: flex;
    
}
.imgini{
    width: 70px;
}
.navbar {
    display: flex;
}
.navbar span {
    color: #074ba8;
}
.navbar p {
    font-size: 30px;
    color: #51b0e3;
}
.dashini .container{
    margin-top: 40px;
    justify-content: space-around;
    text-align: center;
}
.bolha {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #4f6df6;
    
}
.bolha img {
    width: 100px;
}
.bolha h2 {
    color: #44C5FA;
}
.grafico {
    border-radius: 5px;
}