/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f3f5f9;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    background: var(--wedgewood);
    padding: 30px 0px;
    position: fixed;
    overflow: auto;
}

.wrapper .sidebar h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar h4 {
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #0F0F0F;
}

.wrapper .sidebar ul li a {
    color: #bdb8d7;
}

.wrapper .sidebar ul li a .fas {
    width: 25px;
}

.wrapper .sidebar ul li:hover {
    background-color: var(--sky-blue)
}

.wrapper .sidebar ul li:hover a {
    color: #fff;
}

.wrapper .main_content {
    width: 100%;
    margin-left: 200px;
}

.wrapper .main_content .header {
    display: flex;
    justify-content: flex-end;
    background: #fff;
    color: #717171;
    height: 100px;
    overflow: hidden;
    border-bottom: 1px solid #e0e4e8;
}

.header img {
    height: 120px;
    margin-right: 20px;
}

.wrapper .main_content .info,.wrapper .main_content .info-medicamento {
    margin: 20px;
    color: #717171;
    /* Verificar */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown {
    margin-bottom: 10px;
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-content {
    text-align: center;
    display: none;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    align-self: center;
    cursor: pointer;
}

:root {
    --cobalt: #074ba8;
    --polar: #eef9fb;
    --picton-blue: #51b0e3;
    --cornflower: #92c2e6;
    --steel-blue: #537db4;
    --sky-blue: #70c4ec;
    --wedgewood: #487498;
    --logan: #acb4cc;
    --mariner: #347cd8;
}

input[type=text] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: left;
    padding: 12px 20px 12px 40px;
}

.info .options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.info .options .options {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.info .options .option {
    background-color: transparent;
    border: 0;
    padding: 2px 10px 6px;
    border-bottom: 3px solid #4ab2e8;
    color: #4ab2e8;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    border-radius: 0;
}

#btnRoute, #btnShipment, #btnCompany {
    font-size: 20px;
}

.info .options .selected {
    border-bottom: 3px solid #0253c4;
    color: #0253c4;
}

::-webkit-scrollbar {
    width: 2px;
    background: var(--logan);
}

::-webkit-scrollbar-thumb {
    background: #FFF;
}

.field {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 8px 0;
}

/* Verificar */

.form .field label {
    font-size: 16px;
    margin-bottom: 10px;

}

.field label {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Fim Base */

/* Usuários */
.alt-banner {
    display: flex;
}

.banner-form {
    height: fit-content;
    margin-top: 50px;
    width: 100%;
}

.banner-form .container {
    margin: auto;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.banner-form .container .cartao {
    display: flex;
    margin: 30px 0;
    background-color: #fefefe;
    border-radius: 20px;
    width: 70%;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.banner-form .container .cartao h2 {
    box-sizing: border-box;
    font-size: 34px;
    color: #3C9DCF;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 25px;
}

/* Fim Usuários */

/* Dados Pessoais */
.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

.form p {
    font-size: 16px;
    width: 80%;
}

.form .field {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 8px 0;
}

.form .field input,
select {
    font-size: 14px;
    border-radius: 5px;
    height: 24px;
    border: 2px solid #3C9DCF;
    padding-left: 10px;
}

.form .field :focus {
    outline: #0253c4;
    border: 2px solid #0253c4;
}
/* .form button Vai dar problema quando juntar com o style das páginas iniciais - João */
.form .button-form {
    margin: 20px 0;
    background-color: #3C9DCF;
    padding: 10px 30px;
    border: 2px solid #3C9DCF;
    border-radius: 30px;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.form .button-form:focus {
    outline: #0253c4;
    border: 2px solid #0253c4;
}

.form .result {
    display: flex;
    width: 80%;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.form .result p {
    width: 100%;
    line-height: 26px;
    font-size: 18px;
}

.form .result p span {
    font-weight: bold;
    color: #3C9DCF;
}

.info button {
    background-color: #3C9DCF;
    padding: 10px 30px;
    border: 2px solid #3C9DCF;
    border-radius: 30px;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.info button:focus {
    outline: #0253c4;
    border: 2px solid #0253c4;
}

.fundoDados {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 100%;
}

.emailEmpresa {
    margin-top: 40px;
}

.senhaEmpresa {
    padding: 10px;
}

.senhaEmpresa input {
    margin-top: 10px;
    font-size: 14px;
    border-radius: 5px;
    height: 24px;
    border: 2px solid #3C9DCF;
    padding-left: 10px;
    width: 30%;
}

.FcardDados {
    background-color: white;
    box-shadow: 2px 2px 2px 1px #3C9DCF;
    margin-top: 10px;
    height: 80px;
}

/* Fim Dados Pessoais */

/* Delivery */
.table {
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 10px;
    border: 1px solid #717171;
    margin-bottom: 30px;
}

.table thead {
    display: flex;
    width: 100%;
    background-color: #70c4ec;
    color: #717171;
    border-radius: 10px 10px 0 0;
}

.table thead tr {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #717171;
}

.table thead tr th {
    width: 19%;
    height: 100%;
    padding: 10px 0;
}

.table tbody {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.table tbody tr {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
}

.table tbody tr.alternative {
    background-color: #f5f5f5;
    border-radius: 0 0 10px 10px;
}

.table tbody tr td {
    width: 19%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.table input {
    width: 100%;
    text-align: center;
    border: none;
    background-color: transparent;
}

div.data-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#divRequests {
    display: none;
}

#temperatura .options {
    /* Arrumar Possui duas iguais em Admin-f */
    margin-bottom: 20px;
    width: 100%;
}

/* Fim Delivery */
/* Index */
#cards-admin-f {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5%;
    height: 250px;
    width: 100%;
}

.card-admin-f {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    align-items: center;
    border-radius: 5%;
    overflow: hidden;
    width: 80%;
    height: 90%;
}

.card-admin-f h3 {
    padding-top: 20px;
}

.card-admin-f small {
    box-sizing: border-box;
    padding: 10px;
}

.card-admin-f h2 {
    color: #717171;
    text-align: center;
    padding: 25px;
}

/* Gráfico */
#cards-admin-f.analytic .card-admin-f {
    height: 50%;
}

#cards-admin-f.analytic .card-admin-f .card-background#critico {
    background-color: #F04A5B;
}

.analytic .card-admin-f .card-background h2 {
    color: wheat;

}

.card-background h2 {
    color: #f5f5f5;
}

#cards-admin-f.analytic .card-admin-f .card-background#alerta {
    background-color: rgb(255, 205, 86);
}

#cards-admin-f.analytic .card-admin-f .card-background#ideal {
    background-color: rgb(54, 162, 235);

}

#cards-admin-f.analytic .card-admin-f h3 {
    padding-top: 20px;
    padding-bottom: 20px;
}


.card-admin-f button {
    margin: 20px 0;
    background-color: #3C9DCF;
    padding: 10px 30px;
    border: 2px solid #3C9DCF;
    border-radius: 30px;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.critico{
    color: #FF0000;
    }
.alerta{
    color:#eeff00;
}
.ideal{
    color: #00FF00;
}
    
.caminhao-container:hover{
    border:rgb(54, 162, 235) solid 2px;
    transition: 0.2s;
}

.caminhao-container-titulo,
.caminhao-container {
    height: 55px;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
    border-radius: 30px;
}

.caminhao-container {
    box-shadow: 0 0 5px grey;
    margin-top: 15px;
}

.caminhao-container .fa-truck,
.fa-capsules {
    font-size: 30px;
    margin-right: 10px;
}

.caminhao-container-titulo {
    font-size: 20px;
    font-weight: 700;
}

.color-status-temp,
.color-status-umi {
    color: #85E04E;
}

#pedidos {
    list-style-type: none;
    width: 90%;
    height: fit-content;
    margin-top: 35px;
}

#temperatura {
    padding: 10px;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    margin-top: 50px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
}

#temperatura h3 {
    font-size: 1.5em;
}

/* Fim Index */
/* Gráficos */
#idOperacao {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#idOperacao .titulo {
    margin-top: 35px;
    text-align: center;
}

#idOperacao .analytic #cards {
    height: fit-content;
}

.card #formulario,
.info #temperatura h1 {
    color: #0253c4;
    font-size: 34px;
    margin-top: 10px;
}

#idOperacao .viagem #cards .card {
    height: 80%;
}

#idOperacao .viagem #cards .card-background {
    height: 40%;
}

#idOperacao .viagem #cards .card-background {
    height: 60%;
}

.viagens {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.analytic .card {
    width: fit-content;
}

.card-information {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-information h3,
.card-information small {
    text-align: center;
}

.card-information.met{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.card-information.met h3{
    margin: 20px;
}

.card-background {
    height: 60%;
    padding: 2px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #70c4ec;
}

#graficos {
    box-sizing: border-box;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.chart {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 25px;
    background-color: white;
    border-radius: 5%;
    overflow: hidden;
    width: 48%;
}

.chart h1 {
    font-size: 25px;
}

/* Fim Gráficos */
/* Medicamentos */
.field label {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Fim Medicamentos */






/* Laboratório */
/* Formulário */
.card-laboratorio-formulario {
    width: 500px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border-radius: 5%;
    overflow: hidden;
}

.card-laboratorio-formulario h2 {
    color: #0253c4;
    font-size: 34px;
    margin: 20px 0 15px;
}

.card-laboratorio-formulario button {
    margin: 20px 0;
    background-color: #3C9DCF;
    padding: 10px 30px;
    border: 2px solid #3C9DCF;
    border-radius: 30px;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.input-medicamento {
    border-radius: 5px;
    height: 24px;
    border: 2px solid #3C9DCF;
    font-size: 14px;
    padding-left: 10px;
}

.lista-dados {
    padding-bottom: 10px;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
  
  }
  .lista-dados h1 {
    color: #0253c4;
    font-size: 34px;
    margin: 20px 0 15px;
  }

  

#lista-medicamentos-container {
    padding: 10px;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;

}

#lista-medicamentos-container h1 {
    color: #0253c4;
    font-size: 34px;
    margin: 20px 0 15px;
}

.ul-lista-dados {
    list-style-type: none;
    width: 90%;
    height: fit-content;
    margin-top: 10px;
}


.medicamento-container-titulo {
    font-size: 20px;
    font-weight: 700;
}

.medicamento-container-titulo,
.medicamento-container {
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
    border-radius: 30px;
}

.medicamento-container {
    box-shadow: 0 0 5px grey;
    margin-top: 15px;
    padding: 10px;
}
.medicamento-container-adicionar {
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.medicamento-container-adicionar .adicionar-medicamento-container {
    padding: 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(217, 217, 217);
    border: 2px solid #3C9DCF;
    color: white;
    font-size: 40px;
    outline: none;
}
.medicamento-container-adicionar .adicionar-medicamento-container:hover {
    box-shadow: 0 0 5px #3C9DCF;
    cursor: pointer;
}
.pedido-nome,
.pedido-validade,
.pedido-temp,
.pedido-umi {
    width: 34%;
    height: fit-content;
    font-size: 25px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pedido-temp-min-max, .pedido-umi-min-max, .pedido-span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}
.pedido-span span{
    width: 100%;
    word-break: break-all;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}

.pedido-input-temp-umi {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pedido-input-edit {
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    border: 2px solid #3C9DCF;
}
.pedido-input-edit:focus {
    outline: 0;
}

.pedido-umi i {
    margin: 0 12px;
}

.pedido-validade, .pedido-nome {
    margin: 0;
}

.pedido-temp {
    width: fit-content;
    height: 100%;
}

.titulo-tabela-container {
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nomePedido,
#tempMinPedido,
#umiMinPedido {
    text-align: center;
}

#divShipment,
#divCompany {
    display: none;
}

.boxes {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #717171;
    border-radius: 10px;
    width: 23%;
    height: 110px;
}

.upper-box {
    display: flex;
    background-color: #70c4ec;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding: 8px;
    font-weight: bold;
    color: #f5f5f5;
}

.box p {
    font-size: 18px;
    text-align: center;
    height: 40%;
    display: flex;
    align-items: center;
}


/* Fim Formulário */
/* Fim Laboratório */

/* Começo do ADMIN-T */
/* class tabela: usada para todas as listagens */
.tabela {
    padding: 10px;
    width: 95%;
    height: fit-content;
    box-sizing: border-box;
    margin-top: 50px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
  }
  
  .tabela h1 {
    color: #0253c4;
    font-size: 34px;
    margin-top: 10px;
  }
  
  .tabela h3 {
    font-size: 1.5em;
  }
  
  .tabela #lista {
    list-style-type: none;
    width: 90%;
    height: fit-content;
    margin-top: 35px;
  }
  
  .tabela .lista li {
    min-height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
    border-radius: 30px;
  }
  
  .tabela .tabela-linha {
    box-shadow: 0 0 5px grey;
    margin-top: 15px;
  }
  
  .tabela .tabela-linha,
  .tabela .tabela-cabecalho {
    height: fit-content;
    min-height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
    border-radius: 30px;
  }
  
  .tabela .tabela-cabecalho {
    font-size: 20px;
    font-weight: 700;
  }
  
  .tabela #lista div {
    flex-basis: 100%;
    display: flex;
    padding: 1%;
    justify-content: center;
  }
  
  .tabela .btnExcluir,
  .tabela .btnEditar {
    /* width: 20%; */
    height: 40px;
    /* background-color: #F04A5B; */
  }
  .tabela .btnExcluir{
    background-image: url("./img/icons8-excluir-blue-ui/icons8-excluir-40.png");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center center;
    /* background-size: cover; */
  }
  .tabela .btnEditar{
    background-image: url("./img/icons8-lápis-blue-ui/icons8-lápis-40.png");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center center;
    /* background-size: cover; */
  }
  
  .hiddenInput {
    display: none;
  }
  
  #btnCancelar {
    background-color: #717171;
    color: #000000;
    border: 1px solid black;
  }
  
  /* Solicitações */
  
  .tabelaSolicitacoes #lista div {
    flex-direction: column;
  }
  
  .tabelaSolicitacoes .tabela-linha:hover{
    cursor: pointer;
  }
  
  /* Entregas */

  .containerInfosEntrega {
      box-sizing: border-box;
      padding: 15px;
  }

  .divBotoesSolicitacoes{
      margin-top: 10px;
  }

  #btnAprovarEntrega {

  }

  #btnNegarEntrega {
      background-color: rgb(231, 57, 57);
  }