* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f3f5f9;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    display: flex;
    flex-direction: column;

    width: 200px;
    height: 100%;
    background: var(--wedgewood);
    padding: 30px 0px;
    position: fixed;
    overflow: auto;
}

.wrapper .sidebar h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar h4 {
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #0F0F0F;
}

.wrapper .sidebar img {}

.wrapper .sidebar ul li a {
    color: #bdb8d7;
}

.wrapper .sidebar ul li a .fas {
    width: 25px;
}

.wrapper .sidebar ul li:hover {
    background-color: var(--sky-blue)
}

.wrapper .sidebar ul li:hover a {
    color: #fff;
}


.wrapper .main_content {
    width: 100%;
    margin-left: 200px;
}

.wrapper .main_content .header {
    display: flex;
    justify-content: flex-end;
    background: #fff;
    color: #717171;
    height: 100px;
    overflow: hidden;
    border-bottom: 1px solid #e0e4e8;
}

.header img {
    height: 120px;
    margin-right: 20px;
}

.wrapper .main_content .info {
    margin: 20px;
    color: #717171;
}

.dropdown {
    margin-bottom: 10px;
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dropdown-content {
    text-align: center;
    display: none;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
    align-self: center;
    cursor: pointer;
  }

input[type=text] {

    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: left;
    padding: 12px 20px 12px 40px;
}


:root {
    --cobalt: #074ba8;
    --polar: #eef9fb;
    --picton-blue: #51b0e3;
    --cornflower: #92c2e6;
    --steel-blue: #537db4;
    --sky-blue: #70c4ec;
    --wedgewood: #487498;
    --logan: #acb4cc;
    --mariner: #347cd8;

}


#cards {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5%;
}

.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 2px;
    background: var(--logan);
}

::-webkit-scrollbar-thumb {
    background: #FFF;
}

.card h2 {
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 25px;
    background-color: #70c4ec;
}

.card h3 {
    padding-top: 20px;
}

.card small {
    box-sizing: border-box;
    padding: 10px;
}

#select {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 25px;
}

.chart1 {
    box-sizing: border-box;
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
}

.chart2 {
    box-sizing: border-box;
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
}


.chart {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background-color: white;
    border-radius: 5%;
    overflow: hidden;
}


#banner {
    padding: 10px;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    margin-top: 50px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
}

#banner h3 {
    font-size: 1.5em;
}

#banners {
    list-style-type: none;
    width: 90%;
    height: fit-content;
    margin-top: 10px;
}

.bannerContainerTitulo,
.bannerContainer {
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
    border-radius: 30px;
}

.bannerContainer {
    box-shadow: 0 0 5px grey;
    margin-top: 15px;
}

.bannerContainer .fa-truck,
.bannerContainer .fa-warehouse,  
.bannerContainer .fa-road  {
font-size: 30px;
    margin-right: 10px;
}

.caminhaoVeiculo,
.caminhaoModelo,
.caminhaoPlaca,
.entregaModo,
.entregaTemp,
.entregaUmi,
.entregaAlert,
.entregaLocal {
    width: 34%;
    height: fit-content;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerContainerTitulo {
    font-size: 20px;
    font-weight: 700;
}

.tituloTabelaContainer {
    width: 34%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorStatusTemp,
.colorStatusUmi {
    color: #85E04E; 
}

.fundoDados{
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
  
.fundoDados h1 {
    margin-top: 10px;
    margin: 10px;
}
  
.FcardDados{
    background-color: white;
    box-shadow:2px 2px 2px 1px #3C9DCF;
    margin-top: 5px;
    height: 60px;
}

.conteudo{
    margin-top: 10px;
    margin: 10px;
}

.conteudo h3 {
    font-size: 15px;
    margin: 5px;
}

.conteudo small {
    font-size: 15px;
    margin: 10px;
}
