* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f3f5f9;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    display: flex;
    flex-direction: column;

    width: 200px;
    height: 100%;
    background: var(--wedgewood);
    padding: 30px 0px;
    position: fixed;
    overflow: auto;
}

.wrapper .sidebar h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar h4 {
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #0F0F0F;
}

.wrapper .sidebar img {}

.wrapper .sidebar ul li a {
    color: #bdb8d7;
}

.wrapper .sidebar ul li a .fas {
    width: 25px;
}

.wrapper .sidebar ul li:hover {
    background-color: var(--sky-blue)
}

.wrapper .sidebar ul li:hover a {
    color: #fff;
}


.wrapper .main_content {
    width: 100%;
    margin-left: 200px;
}

.wrapper .main_content .header {
    display: flex;
    justify-content: flex-end;
    background: #fff;
    color: #717171;
    height: 100px;
    overflow: hidden;
    border-bottom: 1px solid #e0e4e8;
}

.header img {
    height: 120px;
    margin-right: 20px;
}

.wrapper .main_content .info {
    margin: 20px;
    color: #717171;
}

.dropdown {
    margin-bottom: 10px;
    align-self: center;
}

.dropdown {
    margin-bottom: 10px;
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-content {
    text-align: center;
    display: none;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    align-self: center;
    cursor: pointer;
}

input[type=text] {

    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: left;
    padding: 12px 20px 12px 40px;
}


:root {
    --cobalt: #074ba8;
    --polar: #eef9fb;
    --picton-blue: #51b0e3;
    --cornflower: #92c2e6;
    --steel-blue: #537db4;
    --sky-blue: #70c4ec;
    --wedgewood: #487498;
    --logan: #acb4cc;
    --mariner: #347cd8;

}



#cards {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5%;
}

.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 2px;
    background: var(--logan);
}

::-webkit-scrollbar-thumb {
    background: #FFF;
}

.card h2 {
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 25px;
    background-color: #70c4ec;
}

.card h3 {
    padding-top: 20px;
}

.card small {
    box-sizing: border-box;
    padding: 10px;
}


#graficos {
    box-sizing: border-box;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.chart {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 25px;
    background-color: white;
    border-radius: 5%;
    overflow: hidden;
}

#temperatura {
    padding: 10px;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    margin-top: 50px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
}

#temperatura h3 {
    font-size: 1.5em;
}

#pedidos {
    list-style-type: none;
    width: 90%;
    height: fit-content;
    margin-top: 10px;
}

.caminhaoContainerTitulo,
.caminhaoContainer {
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
    border-radius: 30px;
}

.caminhaoContainer {
    box-shadow: 0 0 5px grey;
    margin-top: 15px;
}

.caminhaoContainer .fa-truck {
    font-size: 30px;
    margin-right: 10px;
}

.pedidoNum,
.pedidoTemp,
.pedidoUmi {
    width: 34%;
    height: fit-content;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pedidoNum {
    margin: 0;
}

.pedidoTemp {
    width: fit-content;
    height: 100%;
}

.caminhaoContainerTitulo {
    font-size: 20px;
    font-weight: 700;
}

.tituloTabelaContainer {
    width: 34%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorStatusTemp,
.colorStatusUmi {
    color: #85E04E;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-card {
    display: flex;
    margin: 30px 0;
    background-color: #fefefe;
    border-radius: 20px;
    width: 80%;
    height: 80%;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.form-card h2,
#temperatura h2 {
    font-size: 34px;
    color: #0253c4;
    margin: 20px 0 28px;
}

.form-card.contact h2 {
    margin-bottom: 8px;
}

.options {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.options .option {
    background-color: transparent;
    border: 0;
    padding: 2px 10px 6px;
    border-bottom: 3px solid #4ab2e8;
    color: #4ab2e8;
    font-weight: bold;
    font-size: 20px;
}

.options .selected {
    border-bottom: 3px solid #0253c4;
    color: #0253c4;
}

#temperatura .options {
    margin-bottom: 20px;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

.form p {
    font-size: 16px;
    width: 80%;
}

.form .field {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 8px 0;
}

.form .field label {
    font-size: 16px;
    margin-bottom: 10px;
}

.form .field input {
    font-size: 14px;
    border-radius: 5px;
    height: 24px;
    border: 2px solid #3C9DCF;
    padding-left: 10px;
}

.form .field input:focus {
    outline: #0253c4;
    border: 2px solid #0253c4;
}

.form .field textarea {
    font-size: 14px;
    border-radius: 5px;
    border: 2px solid #3C9DCF;
    padding: 5px 10px;
    resize: none;
}

.form .field textarea:focus {
    outline: #0253c4;
    border: 2px solid #0253c4;
}

.form .buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.form .buttons button:first-child {
    background-color: #fefefe;
    border: 2px solid #acb4cc;
    color: #3C9DCF;
}

.form button {
    margin: 20px 0;
    background-color: #3C9DCF;
    padding: 10px 30px;
    border: 2px solid #3C9DCF;
    border-radius: 30px;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.form button:focus {
    outline: #0253c4;
    border: 2px solid #0253c4;
}

.boxes {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #717171;
    border-radius: 10px;
    width: 23%;
    height: 110px;
}

.upper-box {
    display: flex;
    background-color: #70c4ec;
    border-radius: 10px 10px 0 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.box p {
    font-size: 18px;
    text-align: center;
}

.table {
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 10px;
    border: 1px solid #717171;
    margin-bottom: 30px;
}

.table thead {
    display: flex;
    width: 100%;
    background-color: #70c4ec;
    color: #717171;
    border-radius: 10px 10px 0 0;
}

.table thead tr {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #717171;
}

.table thead tr th {
    width: 19%;
    height: 100%;
    padding: 10px 0;
}

.table tbody {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.table tbody tr {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
}

.table tbody tr.alternative {
    background-color: #f5f5f5;
    border-radius: 0 0 10px 10px;
}

.table tbody tr td {
    width: 19%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.table input {
    width: 100%;
    text-align: center;
    border: none;
    background-color: transparent;
}

#divShipment {
    display: none;
}

#divCompany {
    display: none;
}

#divCompany p {
    margin: 16px 0 10px;
}

div.data-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#divRequests {
    display: none;
}